# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.pkl

# 结果和日志（体积大，可选择不上传）
results/
logs/
*.log
*.jsonl
models/
OurMethod/cold_start_data/
datasets/raw/mindsmall
qi
# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
